{% extends "journal/layout.html" %}
{% load static %}

{% block body %}
    <h3>Edit Activities</h3>

    <div class="p-5 mb-4 bg-light2 rounded-3">
        {% for activity in activities %}
            <h4 class="mb-3">
                <span class="badge rounded-pill activity-bg" id="activity-{{ activity.id }}" style="margin-right: .25rem;">{{ activity.name.capitalize }}</span>
                <span id="form-span-{{ activity.id }}"></span>
                <button type="button" class="btn btn-primary btn-sm btn-edit" data-id="{{ activity.id }}" style="margin-right: .25rem;">Edit</button>
                <a class="btn btn-primary btn-sm" href="{% url 'delete_activity' activity.id %}" role="button">Delete</a>
            </h4>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'journal/edit_activities.js' %}"></script>
{% endblock %}