{% extends "journal/layout.html" %}
{% load static %}

{% block body %}
    <h3>Entry</h3>

    <div class="p-5 mb-4 bg-light2 rounded-3">
        <div class="row">
            <div class="col">
                <h5 class="card-title"> {{ entry.timestamp }}</h5>
            </div>
            <div class="col">                
                <p class="float-end"><span class="mood{{ entry.mood }}"></span></p>
            </div>
        </div>
        
        <h6 class="card-subtitle mb-2 text-muted entry-header">Events</h6>
        <p class="card-text">{{ entry.events }}</p>

        {% if entry.activity_set.all.exists %}
            <h6 class="card-subtitle mb-2 text-muted entry-header">Activities</h6>
            <h6>
                {% for activity in entry.activity_set.all %}
                    <span class="badge rounded-pill activity-bg">{{ activity.name.capitalize }}</span>
                {% endfor %}
            </h6>
        {% endif %}

        <h6 class="card-subtitle mb-2 text-muted entry-header">Negative Thoughts</h6>
        <p class="card-text">{{ entry.negative_thoughts }}</p>

        {% if entry.distortion_set.all.exists %}
            <h6 class="card-subtitle mb-2 text-muted entry-header">Distortions</h6>
            <h6>
                {% for distortion in entry.distortion_set.all %}
                    <span class="badge rounded-pill distortion-bg" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ distortion.blurb }}"><i class="{{ distortion.icon }}"></i> {{ distortion.name }}</span>
                {% endfor %}
            </h6>
        {% endif %}

        <h6 class="card-subtitle mb-2 text-muted entry-header">Positive Thoughts</h6>
        <p class="card-text">{{ entry.positive_thoughts }}</p>

        {% if entry.user.id == user.id %}
            <div class="mt-5">
                <a class="btn btn-primary btn-sm" href="{% url 'edit_entry' entry.id %}" role="button" style="margin-right: .5rem;">Edit</a>
                <a class="btn btn-primary btn-sm" href="{% url 'delete_entry' entry.id %}" role="button">Delete</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'journal/tooltips.js' %}"></script>
{% endblock %}