{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Journal Tool{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'journal/styles.css' %}" rel="stylesheet">     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <!-- <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->
        {% block script %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Journal Tool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Learn
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'index' %}">How it Works</a></li>
                            <li><a class="dropdown-item" href="{% url 'distortions' %}">Cognitive Distortions</a></li>
                        </ul>
                        </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new_entry' %}">Create Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'entries' %}">View Entries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login_user' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register_user' %}">Register</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if message %}
            <div class="alert alert-primary text-center" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <div class="body container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </body>

    <footer class="text-center">
        Website &copy; Copyright Mitul Mistry 2021<br />
        All other materials copyright their respective holders <br />        
        <a href="https://github.com/MitulMistry/journal-tool" target="_blank">Github repo</a> for this site
    </footer>
</html>