{% extends "journal/layout.html" %}
{% load static %}

{% block body %}
    {% if not entry %}
        <h3 id="page-name">New Entry</h3>
    {% else %}
        <h3 id="page-name">Edit Entry</h3>
    {% endif %}

    <div class="p-5 mb-4 bg-light2 rounded-3">
        <form action="{% url 'new_entry' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        {% if entry %}
                        {{ entry.get_date }}
                        <input class="form-control" autofocus type="date" name="date" id="input-date" value="{{ entry.get_date }}" min="2020-01-01">
                        {% else %}
                        <input class="form-control" autofocus type="date" name="date" id="input-date" value="2021-01-01" min="2020-01-01">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Time</label>
                        {% if entry %}
                        <input class="form-control" type="time" name="time" id="input-time" value="{{ entry.get_time }}">
                        {% else %}
                        <input class="form-control" type="time" name="time" id="input-time" value="13:00">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="mood" class="form-label2">Mood</label>
                        <div id="moodHelp" class="form-text2">How do you feel?</div>
                        <div class="form-check form-check-inline">
                            {% if entry.mood == 1 %}
                            <input class="form-check-input" type="radio" name="mood" id="mood1" value="1" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="mood" id="mood1" value="1">
                            {% endif %}
                            <label class="form-check-label" for="mood1"><span class="mood1"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if entry.mood == 2 %}
                            <input class="form-check-input" type="radio" name="mood" id="mood2" value="2" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="mood" id="mood2" value="2">
                            {% endif %}
                            <label class="form-check-label" for="mood2"><span class="mood2"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if entry.mood == 3 or not entry %}
                            <input class="form-check-input" type="radio" name="mood" id="mood3" value="3" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="mood" id="mood3" value="3">
                            {% endif %}
                            <label class="form-check-label" for="mood3"><span class="mood3"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if entry.mood == 4 %}
                            <input class="form-check-input" type="radio" name="mood" id="mood4" value="4" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="mood" id="mood4" value="4">
                            {% endif %}
                            <label class="form-check-label" for="mood4"><span class="mood4"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if entry.mood == 5 %}
                            <input class="form-check-input" type="radio" name="mood" id="mood5" value="5" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="mood" id="mood5" value="5">
                            {% endif %}
                            <label class="form-check-label" for="mood5"><span class="mood5"></span></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="events" class="form-label2">Events</label>
                        <div id="eventsHelp" class="form-text2">What happened today?</div>
                        <textarea class="form-control" name="events" rows="6">{{ entry.events }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="activities" class="form-label2">Activities</label>
                        <div id="activitiesHelp" class="form-text2">What did you do today?</div>

                        <div class="input-group">
                            <input class="form-control" type="text" id="add-activity-form">
                            <button type="button" class="btn btn-primary btn-sm" id="add-activity-btn">Add New</button>
                        </div>

                        <div id="activities-list-div">
                            {% for activity in activities %}
                                {% if activity in entry.activity_set.all %}
                                <input type="checkbox" class="btn-check" name="activities" value="{{ activity.id }}" id="btn-activity-{{ activity.id }}" autocomplete="off" checked>
                                {% else %}
                                <input type="checkbox" class="btn-check" name="activities" value="{{ activity.id }}" id="btn-activity-{{ activity.id }}" autocomplete="off">
                                {% endif %}
                                <label class="btn btn-activity btn-sm" for="btn-activity-{{ activity.id }}">{{ activity.name.capitalize }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="negative_thoughts" class="form-label2">Negative Thoughts</label>
                        <div id="negativeHelp" class="form-text2">What negative thoughts did you experience today?</div>
                        <textarea class="form-control" name="negative_thoughts" rows="4">{{ entry.negative_thoughts }}</textarea>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="distortions" class="form-label2">Cognitive Distortions</label>
                                <div id="distortionsHelp" class="form-text2">Identify from list</div>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary btn-sm float-end" href="{% url 'distortions' %}" role="button" target="_blank">Learn More</a>
                            </div>
                        </div>

                        {% for distortion in distortions %}
                            {% if distortion in entry.distortion_set.all %}
                            <input type="checkbox" class="btn-check" name="distortions" value="{{ distortion.id }}" id="btn-distortion-{{ distortion.id }}" autocomplete="off" checked>
                            {% else %}                            
                            <input type="checkbox" class="btn-check" name="distortions" value="{{ distortion.id }}" id="btn-distortion-{{ distortion.id }}" autocomplete="off">
                            {% endif %}
                            <label class="btn btn-distortion btn-sm" for="btn-distortion-{{ distortion.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ distortion.blurb }}"><i class="{{ distortion.icon }}"></i> {{ distortion.name }}</label>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="positive_thoughts" class="form-label2">Positive Thoughts</label>
                        <div id="positiveHelp" class="form-text2">How can you reframe your negative thoughts?</div>
                        <textarea class="form-control" name="positive_thoughts" rows="4">{{ entry.positive_thoughts }}</textarea>
                    </div>
                    <input class="btn btn-primary float-end" type="submit" value="Submit">                    
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'journal/new_entry.js' %}"></script>
{% endblock %}